.home {
  background-color: #1e1d52;
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
  position: relative;
}
.parallax {
  z-index: 3;
}

.dmg-logo-white {
  position: absolute;
  width: 400px;
  height: auto;
  left: 200px;
}

.sungirl-svg {
  position: absolute;
  width: 675px;
  height: auto;
  right: 0;
  bottom: -220px;
  transition: all 1s ease-in-out;
  z-index: 5;
}

.diamond-1,
.diamond-2,
.diamond-3 {
  position: absolute;
  opacity: 0.05;
  width: 200px;
  height: auto;
  transition: all 1s linear;
}

.diamond-1 {
  width: 291px;
  left: 225px;
  top: 249px;
}

.diamond-2 {
  width: 325px;
  left: 910px;
  top: 183px;
}

.diamond-3 {
  width: 400px;
  left: 564px;
  top: 568px;
}

.home-small-narrative,
.home-header-text {
  position: absolute;
  transition: all 1s linear;
}

.get-started-btn {
  position: absolute;
}

.home-small-narrative {
  color: #38c6f4;
  font-family: Cabin, sans-serif;
  font-size: 5rem;
  left: 225px;
  top: 250px;
}

.home-header-text {
  font-family: Yesteryear, sans-serif;
  font-size: 9rem;
  font-weight: normal;
  color: white;
  top: 300px;
  left: 300px;
}

.get-started-btn {
  position: absolute;
  bottom: 50px;
  left: 250px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 5;
}

.highlight {
  width: 5px;
  height: 100%;
  background-color: #38c6f4;
  left: -5px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  cursor: default;
  z-index: -2;
  border-radius: 10px;
}

.get-started-btn a {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: Cabin, sans-serif;
  font-size: 2rem;
  background-color: transparent;
  color: white;
  text-decoration: none;
  margin-left: 6px;
}

.diamond-1:hover,
.diamond-2:hover,
.diamond-3:hover {
  opacity: 0.6;
}

.get-started-btn:hover .highlight {
  width: 110%;
}
